# See https://help.github.com/ignore-files/ for more about ignoring files.

npm-debug.log*
yarn-debug.log*
yarn-error.log*
local.log

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.eslintcache
.firebase
.firebaserc
.history
.idea

/node_modules
/coverage
/build
/docs
.DS_Store
.env*.local
# diff images output from failed Puppeteer snapshot tests
__diff_output__

## PandaCSS
styled-system
styled-system-studio

## Custom Capacitor Plugin
/packages/webview/node_modules
/packages/webview/.DS_Store
/packages/webview/xcuserdata/
/packages/webview/DerivedData/
/packages/webview/.swiftpm/configuration/registries.json
/packages/webview/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
/packages/webview/.netrc

