# See https://help.github.com/ignore-files/ for more about ignoring files.

npm-debug.log*
yarn-debug.log*
yarn-error.log*
local.log

.eslintcache
.firebase
.firebaserc
.history
.idea

/node_modules
/coverage
/build
/docs
.DS_Store
.env*.local
# diff images output from failed Puppeteer snapshot tests
__diff_output__
