/*
  DEPRECATED
  This file is deprecated. All styles should be added inline using PandaCSS.
  See: https://panda-css.com/docs/concepts/writing-styles
*/

/* react-transition-group animation: slidedown */
/* use transform: translateY(-100%) for auto height animation (less smooth) */
.slidedown-enter {
  margin-bottom: 0;
  margin-top: -3em;
}

.slidedown-enter-active {
  margin-bottom: 1em;
  margin-top: 0;
  transition: margin 100ms ease-out;
}

.slidedown-enter-done {
  margin-bottom: 1em;
  margin-top: 0;
}

.slidedown-exit {
  margin-bottom: 1em;
  margin-top: 0;
}

.slidedown-exit-active {
  margin-bottom: 0;
  margin-top: -3em;
  transition: margin 100ms ease-out;
}

.slidedown-exit-done {
  margin-bottom: 0;
  margin-top: -3em;
}

/* react-transition-group animation: fade-400 */
.fade-400-enter {
  opacity: 0;
}

.fade-400-enter-active {
  opacity: 1;
  transition: opacity 400ms ease 0ms;
}

.fade-400-exit {
  opacity: 1;
}

.fade-400-exit-active {
  opacity: 0;
  transition: opacity 400ms ease 0ms;
}

/* react-transition-group animation: slide */
.slide-enter {
  transform: translateX(100vw);
  opacity: 0;
  position: absolute;
}

.slide-enter.slide-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms ease-in-out 200ms;
}

.slide-exit {
  transform: translateX(0);
  opacity: 1;
}

.slide-exit.slide-exit-active {
  transform: translateX(-100vw);
  opacity: 0;
}

/* react-transition-group animation: slide-right */
.slide-right-enter {
  transform: translateX(100%);
}

.slide-right-enter-active {
  transform: translateX(0);
  transition: all 200ms ease-out;
}

.slide-right-exit {
  transform: translateX(0);
}

.slide-right-exit-active {
  transform: translateX(100%);
  transition: all 200ms ease-out;
}

/* autofocus */

/*
  At deeper depths, the available width becomes smaller and smaller. Due to the left-translate (above), the left edge will be kept relatively close to the left edge of the screen as one navigates deeper. However its bounding box is the same, so its width will still get smaller and smaller, although it will appear that it is getting compressed from the right. See: https://github.com/cybersemics/em/issues/752.

  Offset this by adding a negative right margin.

  This has the downside of causing multi-line text to reflow as one navigates deeper, as its bounding box is now dependent on its depth in the hierarchy. See: https://github.com/cybersemics/em/issues/251. Only apply this to .autofocus-hide-parent instead of both 2 & 3 so that this side effect is less pronounced. Ultimately there is a natural tradeoff, and it's more important that the full width is preserved.
*/
/*.autofocus-hide-parent {
  margin-right: -1.2em;
}*/

/* for some reason opacity bleeds through modal*/

/* higher precendence than ".dark .modal .a" */
