html, body, #root, #app {
  height: 100%;
}

body {
  background-color: #ececec;
  color: #212121;
  font-weight: 300;
  font-family: 'Helvetica Neue';
  line-height: 1.2;
}

a {
  cursor: pointer;
}

.content {
  background-color: white;
  /*TODO: height: calc(100% - 100px);*/
  padding: 50px;
  /*margin: 20px;*/
  /*box-shadow: 6px 6px 6px #ccc;*/
  position: relative;
}

.keyboard {
  border: solid 1px #ddd;
  background-color: #f8f8f8;
  margin-right: -30px;
  margin-left: -30px;
  position: absolute;
  bottom: 20px;
  width: calc(100% - 40px);
  height: 45%;
}

.home {
  position: absolute;
  top: 15px;
  left: 15px;
}

.missing {
  color: #ccc;
}

.intersections {
  color: #ccc;
}

.indirect {
  color: blue;
}

.bullet {
  color: #333;
  font-size: 75%;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}

.container-depth0 { margin-bottom: 40px; }
.container-depth1 { margin-bottom: 30px; }
.container-depth2 { margin-bottom: 5px; }

.item-container.leaf { margin-bottom: 5px; }

.depth0 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 15px;
}

.depth1 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 10px;
}

.depth2 {
  font-size: 16px;
}

.depth3 {
  font-size: 14px;
}

.leaf .item {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 5px;
}
