.debug {
  font-size: 8px;
  color: lightblue;
  display: none;
}

html, body, #root, #app {
  height: 100%;
  font-size: 16px;
}

body, textarea {
  font-weight: 300;
  font-family: 'Helvetica';
  line-height: 1.25;
}

body {
  /* Disables pull-to-refresh but allows overscroll glow effects. */
  overscroll-behavior-y: contain;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  outline: none;
}

/* Headings */
h1 {
  font-size: 32px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 12px;
}

h2 {
  font-size: 100%;
  font-weight: 300;
  border-bottom: solid 1px #000;
  margin-bottom: 25px;
}

ul {
  margin-left: 1.5em;
  padding-left: 0;
}

ul ul {
  margin-left: 1.2em;
}

ul ul.context-chain {
  margin-left: 1.6em;
}

li {
  list-style: none;
}

textarea {
  width: calc(100% - 40px);
  display: block;
  margin: 0 auto;
  height: 50vh;
  padding: 10px;
  font-size: 16px;
  border: solid 1px #ddd;
}

.dark textarea {
  color: #fff;
  border: solid 1px #333;
  background-color: #000;
}

.clear { clear: both; }
.relative { position: relative; }
.missing { color: #ccc; }
.direct { color: #212121; }
.center { text-align: center; }
.left { text-align: left; }

.upper-right {
  float: right;
  margin-bottom: 10px;
  margin-right: -15px;
  border: none;
  text-decoration: underline;
}

a.button {
  padding: 4px 30px;
  min-width: 120px;
  text-decoration: none;
  display: inline-block;
  border-radius: 99px;
  color: white;
  background-color: black;
}

.button-small {
  padding: 2px 0;
}

a.button-less-padding {
  padding: 4px 12px;
}

.dark a.button {
  color: black;
  background-color: white;
}

a.button-variable-width {
  min-width: 0;
}

a.button[disabled] {
  opacity: 0.25;
  pointer-events: none;
  cursor: auto;
}

a.button-dim {
  opacity: 0.5;
}

a.text-link {
  text-decoration: underline;
}

.list-none li::before {
  display: none;
}

.breadcrumbs .num-contexts {
  margin-right: -0.5em;
}

.context-breadcrumbs {
  float: left;
}

.context-breadcrumbs .depth-bar {
  display: none;
}


/* Items */

[contenteditable] {
  outline: none;
}

.thought, .thought-annotation {
  width: calc(100% - 0.66em); /* offset margin-left to prevent line break */
  font-weight: 300;
  margin-top: 0;
  margin-left: 0.66em;
  display: inline-block;
  vertical-align: top;
  white-space: pre-wrap;
}

.thought-annotation {
  position: absolute; /* cannot use position:absolute as it changes what the width is relative to */
  pointer-events: none;
  /* offset parent container (.child) padding-left since position:absolute changes the width calculation; */
  padding-right: 100px;
  box-sizing: border-box;
}

.subthought-text {
  visibility: hidden;
}

.subthought-highlight {
  border-bottom: solid 1px;
}

.thought-annotation .num-contexts {
  position: absolute;
}

.child .editable {
  word-break: break-word; /* breaks urls; backwards-compatible with regular text unlike break-all */
  padding-left: 5px; /* Add padding otherwise cursor disappears on empty elements */
  /* Cannot use padding-right, as it throws off the cursor when editing end of line. */
  margin-top: -0.25em; /* offset padding-top */
  margin-left: -5px; /* offset padding-left */
  padding-bottom: 0.25em;
  padding-top: 0.25em;
}

.mobile .child .editable {
  padding-bottom: 0;
}

.children .thought > .editable,
.children .thought-annotation > .editable {
  margin-bottom: -0.25em;
}

.children {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.children .child:first-child {
  padding-top: 0.5em;
}

/* Additional space not needed due to children-subheading */
.children .child.show-contexts:first-child {
  padding-top: calc(0.5em - 4px); /* offset top */
}

.children .children {
  /* create stacking context so helper appears above */
  position: relative;
  z-index: 1;
}

.children, .children > .child {
  transition: transform 0.75s ease-out, opacity 0.75s ease-out, color 0.75s ease-out;
  /*causes next siblings to overlap z-index*/
  /*perspective: 1000;*/
  backface-visibility: hidden;
}

/* needs to be -1 for children of helper child. */
.helper-container .children {
  position: relative;
  z-index: -1;
}

.children-subheading {
  position: relative;
  margin-top: 3px;
  margin-bottom: 2px;
  padding-bottom: 4px;
}

/* siblings after the helper have to be simply hidden because the above trick doesn't work */
.sibling-after {
  visibility: hidden;
}

.ellipsis {
  font-size: 75%;
}

.down-chevron {
  font-style: normal;
  font-size: 125%;
  line-height: 0;
}

.up-chevron {
  font-style: normal;
  font-size: 75%;
  position: relative;
  top: 2px;
}

.content {
  background-color: #fff;
  color: #111;
  padding: 60px 20px 153px 50px /* padding-bottom must cover the footer (logged out: 79px, logged in: 93px) plus some additional visual spacing */;
  position: relative;
  min-height: 100vh; /* forces footer to bottom when there is little content */
  transition: transform 0 ease-out, margin 0 ease-out; /* add transition time after initial load and scroll into place */
  overflow: hidden; /* prevent expanded click areas from adding scroll-x */
  box-sizing: border-box; /* make height include padding so that the min-height can be exctly 100vh */
  max-width: 50em;
  margin: 0 auto;
}

body.dark {
  background-color: #000;
}

.dark .root, .dark .content, .dark .helper {
  background-color: #000;
  color: #e3e3e3;
}

.dark .footer a {
  color: #87ceeb;
}

.logo {
  width: 24px;
}

.nav {
  position: sticky;
  z-index: 1;
  padding: 0 15px 0 10px;
}

.nav-container {
  position: absolute;
  width: calc(100% - 30px); /* offset .nav padding */
  transition: background-color 0.2s ease-out;
}

.nav-fill {
  background-color: white;
}

.dark .nav-fill {
  background-color: black;
}

.nav-top {
  top: 0;
}

.nav-bottom {
  bottom: 0;
  padding: 0 15px;
}

.nav-bottom .nav-container {
  position: relative;
  width: 100%;
  margin-top: 15px;
}

.nav-bottom .logo {
  margin-bottom: 15px;
}

.nav .home {
  bottom: -8px;
  position: relative;
  z-index: 1;
}

.nav-top .home {
  float: left;
  margin-right: 2px; /* spacing before breadcrumbs */
}

.nav-bottom .home {
  position: absolute;
  right: -2px;
}

.helper .home {
  display: inline-block;
  position: relative;
  top: 5px;
  margin-top: -10px;
}

.thought .home {
  position: relative;
  top: -4px;
  left: -2px;
}

.thought-annotation .home {
  display: none;
}

.status {
  background-color: white;
  float: right;
  margin-right: 15px;
  margin-top: 15px;
  position: relative;
  z-index: 1; /* above breadcrumbs */
}

.dark .status {
  background-color: #000;
  color: #e3e3e3;
}

.nav-breadcrumbs {
  color: #999;
  width: 100%;
  padding: 15px 0 0 15px; /* Use padding-left instead of left in order to occlude scrolled content behind home icon */
  font-size: 14px;
  vertical-align: bottom;
}

/** offset logo */
.nav-bottom .nav-breadcrumbs {
  width: calc(100% - 40px);
  padding-left: 0;
  padding-bottom: 15px;
}

.nav-breadcrumbs a:hover {
  color: black;
}

.dark .nav-breadcrumbs a:hover {
  color: white;
}

.breadcrumb-divider {
  font-size: 8px;
  line-height: 16px;
  margin: 0 3px;
  vertical-align: 1px;
}

/* for use with react-transition-group */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.error {
  color: red;
}

.link {
  word-break: break-word;
}

.superscript-container {
  /*position: relative;*/
  /*left: -5px;*/ /* offset .child .editable padding */
  white-space: nowrap; /* prevent expanded click area from wrapping */
  z-index: 1;
}

.superscript-container sup {
  position: relative;
  z-index: 1; /* above depth-bar */
}

.num-contexts {
  font-size: 60%;
  white-space: nowrap; /* prevent long depth-bars from wrapping */
  /* Upping this z-index to overlay .depth-bar will also cause it to overlay helper. Instead lower the depth-bar z-index */
  /*z-index: 1;*/
}

.num-contexts > sup {
  top: -2px;
}

.num-contexts > sup > a {
  padding-right: 15px; /* additional click area */
  margin-right: -15px;
  padding-bottom: 8px;
  margin-bottom: -8px;
}

h1 .num-contexts {
  font-size: 40%;
  top: -4px;
  left: 1px;
}

.add-new-item-link {
  display: inline-block;
  color: #ccc;
  position: relative;
}

.depth-bar {
  position: absolute;
  margin-left: 5px;
  display: inline-block;
  height: 2px;
  background-color: #ddd;
  transition: background-color 0.75s ease-out;
  /*margin-top: 1em;*/
  margin-top: 0.6em;
  /*margin-left: 3px;*/
}

.num-contexts .depth-bar {
  margin-top: 1em;
  margin-left: 0px;
}

.has-other-contexts {
  margin-left: 12px;
}

.from > :first-child > .item {
  font-weight: 400;
}

.add-new-item {
  outline: none;
  min-width: 3.75em;
  display: inline-block;
  border-bottom: solid 1px #ccc;
  margin-left: -2px;
}

.search[contenteditable] {
  display: block;
  padding-top: 0;
}

.center-in-content {
  text-align: center;
  margin-right: 30px;
}

.text-note, .placeholder, [placeholder]:empty::before {
  font-style: italic;
  color: rgba(7,7,7,0.5);
}

/* empty class is set dynamically by javascript during editing. */
/* :empty does not work because item may contain <br> */
[placeholder]:empty::before {
  content: attr(placeholder);
  display: block;
  cursor: text;
}

.search:empty::before {
  padding-top: 2px;
}

.dark .text-note, .dark .placeholder, .dark [placeholder]:empty::before {
  color: rgba(255,255,255,0.5);
}

.child {
  position: relative; /* So that .thought can be sized at 100% and .thought::before bullet can be positioned correctly */
  margin-left: -100px; /* must use margin-left not left so that content wrapping is not affected
  margin-top: 0.501em; /* Match editable padding */
  padding: 0.2em 0 0.2em 100px;
}

.child > .bullet {
  transition: transform 0.1s ease-in-out;
}

.child > .bullet::before {
  content: '▸'; /* •◦◂◄◀︎ ➤▹▸►◥ */
  position: relative;
  /*margin-right: 10px;    this causes the li to break at the beginning with longer text */
  margin-left: -15px;
  opacity: 0.8;
  transition: opacity 0.75s ease-in-out;
}

.child > .bullet-search {
  position: absolute;
  margin-left: -12px;
}

.child > .bullet-search::before {
  content: none;
}

.child > .bullet.show-contexts::before {
  content: '▹';
}

.mobile .child > .bullet.show-contexts::before {
  font-size: 80%;
  left: -0.08em;
  top: 0.05em;
  margin-right: -0.2em;
}

.child.expanded:not(.leaf) > .bullet,
.child.editing:not(.leaf) > .bullet,
.child.cursor-parent:not(.leaf) > .bullet,
.child.cursor-grandparent:not(.leaf) > .bullet {
  display: inline-block;
  margin-right: -7px; /* compensate for inline-block */
  transform: rotate(90deg);
  transform-origin: -11px 9px;
}

.mobile .child.expanded:not(.leaf) > .bullet::before,
.mobile .child.editing:not(.leaf) > .bullet::before,
.mobile .child.cursor-parent:not(.leaf) > .bullet::before,
.mobile .child.cursor-grandparent:not(.leaf) > .bullet::before {
  left: 0.06em;
}

.mobile .child.expanded:not(.leaf) > .bullet.show-contexts::before,
.mobile .child.editing:not(.leaf) > .bullet.show-contexts::before,
.mobile .child.cursor-parent:not(.leaf) > .bullet.show-contexts::before,
.mobile .child.cursor-grandparent:not(.leaf) > .bullet.show-contexts::before {
  left: -0.02em;
}

.child.leaf > .bullet::before {
  content: '•';
  left: -.02em;
  margin-right: -0.1em;
}

.mobile .child.leaf > .bullet::before {
  left: -0.05em;
  top: 0.03em;
}

.child.leaf > .bullet.show-contexts::before {
  content: '◦';
  font-size: 90%;
  top: -0.05em;
  margin-right: -0.15em;
}

.mobile .child.leaf > .bullet.show-contexts::before {
  top: 0;
  left: -0.30em;
  margin-right: -0.6em;
}

/*.context-chain > .child > .bullet::before {
  font-size: 10px;
  content: '◀';
  top: -0.1em;
  left: -0.1em;
  margin-right: -0.30em;
}

.mobile .context-chain > .child > .bullet::before {
  font-size: 14px;
  content: '◄';
  margin-left: -16px;
  margin-right: -0.15em;
}

.context-chain > .child.leaf::before {
  font-size: 12px;
  content: '◁';
  top: -0.05em;
  margin-right: -0.25em;
}

.mobile .context-chain > .child.leaf::before {
  content: '◅';
  margin-right: 0.05em;
  margin-left: -17px;
  top: -0.15em;
}
*/

/* overlay bullet for cursor */
.child.editing > .thought::before,
.child.dragging > .thought::before {
  content: '•';
  position: absolute;
  top: -0.38em;
  left: -0.52em;
  font-size: 280%;
  opacity: 0.2;
  pointer-events: none; /* prevent overlay bullet from overlapping with the element above it. Cannot be fixed with height, width, or line-height */
  margin-left: 100px; /* match drop-hover */
  margin-top: 0.08em;
}

/* overlay bullet for drag */
/* specificity to beat ".dark .child.editing > .thought::before" */
.child.child.child.dragging > .thought::before {
  color: lightblue;
  opacity: 1;
}

.child.editing:first-of-type > .thought::before,
.child.dragging:first-of-type > .thought::before {
  margin-top: 0.18em;
}

.child.show-contexts.editing:first-of-type > .thought::before,
.child.show-contexts.dragging:first-of-type > .thought::before {
  margin-top: calc(0.18em - 4px); /* */
}

.mobile .child.editing > .thought::before {
  top: -0.41em;
  left: -0.54em;
}

.dark .child.editing > .thought::before {
  opacity: 0.25;
}

.children-new .child > .bullet::before {
  content: '+';
  left: -0.15em;
  top: -0.05em;
  margin-right: -0.3em;
}

.mobile .children-new .child > .bullet::before {
  left: 0.05em;
  top: -0.1em;
  margin-right: -0.1em;
}

.distance-from-cursor-2,
.distance-from-cursor-2 a,
.distance-from-cursor-3,
.distance-from-cursor-3 a,
.children-new.distance-from-cursor-1 a,
.children-new.distance-from-cursor-2 a,
.children-new.distance-from-cursor-3 a {
  cursor: default;
}

.distance-from-cursor-0,
.distance-from-cursor-1,
.distance-from-cursor-2 > .child.cursor-parent {
  cursor: auto;
}

.distance-from-cursor-0 a,
.distance-from-cursor-1 a,
.distance-from-cursor-2 > .child.cursor-parent a {
  cursor: pointer;
}

.distance-from-cursor-2 > .child:not(.cursor-parent) > .bullet::before,
.distance-from-cursor-3 > .child:not(.cursor-parent) > .bullet::before {
  opacity: 0;
  pointer-events: none; /* prevent hidden bullets from being "selected", causing the focus to be lost and a subsequent tab to select a hidden item */
}

/* child */
.distance-from-cursor-0 > .child { color: rgba(0,0,0,1); }
.distance-from-cursor-1 > .child { color: rgba(0,0,0,0.5); }
.distance-from-cursor-1 > .child.editing { color: rgba(0,0,0,1); }
.distance-from-cursor-1 > .child.cursor-parent { color: rgba(0,0,0,1); }
.distance-from-cursor-2 > .child { color: rgba(0,0,0,0); }
.distance-from-cursor-2 > .child.cursor-parent { color: rgba(0,0,0,0.5); }
.distance-from-cursor-3 > .child { color: rgba(0,0,0,0); }

/* depth-bar */
.distance-from-cursor-0 > .child > .thought .depth-bar { background-color: rgba(0,0,0,1); }
.distance-from-cursor-1 > .child > .thought .depth-bar { background-color: rgba(0,0,0,0.5); }
.distance-from-cursor-1 > .child.editing > .thought .depth-bar { background-color: rgba(0,0,0,1); }
.distance-from-cursor-1 > .child.cursor-parent > .thought .depth-bar { background-color: rgba(0,0,0,1); }
.distance-from-cursor-2 > .child > .thought .depth-bar { background-color: rgba(0,0,0,0); }
.distance-from-cursor-2 > .child.cursor-parent > .thought .depth-bar { background-color: rgba(0,0,0,0.5); }
.distance-from-cursor-3 > .child > .thought .depth-bar { background-color: rgba(0,0,0,0); }

/* children-subheading */
.children-subheading {
  transition: opacity 0.2s ease-in-out;
}
.distance-from-cursor-0 > .child > .children-subheading { opacity: 1; }
.distance-from-cursor-1 > .child > .children-subheading { opacity: 0.5; }
.distance-from-cursor-1 > .child.editing > .children-subheading { opacity: 1; }
.distance-from-cursor-1 > .child.cursor-parent > .children-subheading { opacity: 1; }
.distance-from-cursor-2 > .child > .children-subheading { opacity: 0; }
.distance-from-cursor-2 > .child.cursor-parent > .children-subheading { opacity: 0.5; }
.distance-from-cursor-3 > .child > .children-subheading { opacity: 0; }

/* home icon */
.home { transition: opacity 0.75s ease-out; }
.distance-from-cursor-3 > .child > .thought .home { opacity: 0; }
.distance-from-cursor-2 > .child > .thought .home { opacity: 0; }

/* dark child */
.dark .distance-from-cursor-0 > .child { color: rgba(255,255,255,1); }
.dark .distance-from-cursor-1 > .child { color: rgba(255,255,255,0.5); }
.dark .distance-from-cursor-1 > .child.editing { color: rgba(255,255,255,1); }
.dark .distance-from-cursor-1 > .child.cursor-parent { color: rgba(255,255,255,1); }
.dark .distance-from-cursor-2 > .child { color: rgba(255,255,255,0); }
.dark .distance-from-cursor-2 > .child.cursor-parent { color: rgba(255,255,255,0.5); }
.dark .distance-from-cursor-3 > .child { color: rgba(255,255,255,0); }

/* dark depth-bar */
.dark .distance-from-cursor-0 > .child > .thought .depth-bar { background-color: rgba(255,255,255,1); }
.dark .distance-from-cursor-1 > .child > .thought .depth-bar { background-color: rgba(255,255,255,0.5); }
.dark .distance-from-cursor-1 > .child.editing > .thought .depth-bar { background-color: rgba(255,255,255,1); }
.dark .distance-from-cursor-1 > .child.cursor-parent > .thought .depth-bar { background-color: rgba(255,255,255,1); }
.dark .distance-from-cursor-2 > .child > .thought .depth-bar { background-color: rgba(255,255,255,0); }
.dark .distance-from-cursor-2 > .child.cursor-parent > .thought .depth-bar { background-color: rgba(255,255,255,0.5); }
.dark .distance-from-cursor-3 > .child > .thought .depth-bar { background-color: rgba(255,255,255,0); }

/* shift invisible items over */
.distance-from-cursor-2, .distance-from-cursor-3 {
  transform: translate3d(-1.2em, 0, 0);
  margin-right: -1.2em;
}

/* new thought */
.children-new { transition: all 0.75s ease-out; }
.children-new.distance-from-cursor-1,
.children-new.distance-from-cursor-2,
.children-new.distance-from-cursor-3 {
  opacity: 0;
}

/* overflow:hidden breaks sticky header */
.container {
  position: relative;
}

.footer {
  position: relative;
  z-index: 1;
  padding: 20px;
  margin: 0;
  text-align: right;
  font-size: 70%;
  list-style: none;
  background-color: #ddd;
  box-sizing: border-box;
  width: 100%;
  opacity: 0.8;
}

.footer a {
  color: #1b6f9a;
}

.dark .footer a {
  color: skyblue;
}

.footer .support-link {
  color: inherit;
}

.dark .footer {
  background-color: #212121;
  color: #fff;
}

.dark .footer .support-link {
  color: white;
}

.footer .support-link:hover {
  text-decoration: underline;;
}

/* for some reason opacity bleeds through helper*/
.dim { color: rgba(7,7,7,0.5); }
.dark .dim { color: rgba(255,255,255,0.5); }

.helper {
  font-size: 18px;
  background-color: white;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.5);
  border: solid 1px rgba(0,0,0,0.2);
  padding: 15px;
  position: absolute;
  display: inline-block;
  line-height: 1.5;
  width: calc(100% - 100px);
  z-index: 10;
  animation: fademostlyin 0.4s;
  min-width: 200px;
}

.helper-content {
  overflow: scroll;
  max-height: 70vh;
}

.helper.opaque {
  animation: fadein 0.4s;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 0.99; }
}

@keyframes fademostlyin {
  from { opacity: 0; }
  to { opacity: 0.85; }
}

.helper p {
  margin: 0 0 10px 0;
}

.helper.center {
  left: 0;
  right: 0;
  margin: 0 auto;
}

.popup {
  font-family: 'Helvetica Neue';
  font-size: 26px;
  box-shadow: none;
  border: none;
  display: block;
  width: auto;
  padding: 10% 8%;
  box-sizing: border-box;
}

.popup-x {
  margin-top: -40px;
  margin-right: -25px;
  text-decoration: none;
}

.popup .helper-content {
  max-width: 800px;
  margin: 0 auto;
  max-height: none;
}

.popup .helper-title {
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}

.popup .helper-text {
  margin-bottom: 50px;
}

.popup .helper-actions a {
  font-size: 75%;
}

.popup .helper-actions a.button {
  font-size: 18px;
  text-decoration: none;
  background-color: #000;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
}

.popup-section {
  margin-bottom: 50px;
}

.helper-welcome {
  height: 100%;
}

.helper-welcome .helper-title {
  margin-bottom: 0;
  line-height: 1;
}

.helper-welcome .helper-text {
  margin-top: 1em;
  margin-bottom: 1em;
}

.helper-welcome .helper-actions a.button {
  font-size: 92%; /* instead of px, so that it will be scaled with shrink-to-fit */
}

.dark .popup .helper-actions a.button {
  color: black;
  background-color: white;
}

.dark .popup .helper-actions a {
  color: white;
}

.popup .helper-actions a.button-inactive {
  background-color: #aaa;
}

.dark .popup .helper-actions .button-active {
  background-color: lightblue;
}


.popup .helper-actions {
  text-align: center;
}

.popup .logo {
  width: 44px;
  vertical-align: text-bottom;
}

.helper-title {
  font-weight: 400;
}

.helper-text {
  font-size: 85%;
}

.helper-actions {
  font-size: 75%;
}

.helper-actions a {
  font-weight: normal;
  margin: 0 5px;
  text-decoration: underline;
  white-space: nowrap;
  line-height: 2;
}

.dark .helper {
  background-color: #333;
  border: solid 1px rgba(255,255,255,0.1);
}

.dark .popup {
  background-color: black;
  border: none;
}

.dark .helper a {
  color: lightblue;
}

.helper-home {
  margin-left: 20px;
  margin-top: -5px;
}

/* higher precendence than ".dark .helper .a" */
.helper-close {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 12px;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
}

.popup .helper-close {
  display: none;
}

.helper-close span {
  display: inline-block;
  width: 11px;
  height: 11px;
}

.dark a.helper-close span {
  color: rgba(255,255,255,0.3);
  border-color: rgba(255,255,255,0.3);
}

.animate {
  transition: all 0.4s ease-out;
}

.animate-fadeout {
  opacity: 0;
}

/* arrow */
.arrow:after, .arrow:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow:after { border-width: 10px; }
.arrow:before { border-width: 12px; }

/* arrow left */
.arrow-left:after, .arrow-left:before {
  right: 100%;
  top: 50%;
}

.arrow-left:after {
  border-right-color: white;
  margin-top: -10px;
}

.arrow-left:before {
  border-right-color: rgba(0,0,0,0.2);
  margin-top: -12px;
}

.dark .arrow-left:after { border-right-color: #333; }
.dark .arrow-left:before { border-right-color: rgba(255,255,255,0.15); }

.arrow-lefttop:after, .arrow-lefttop:before { top: 20px; }
.arrow-leftbottom:after, .arrow-leftbottom:before { bottom: 20px; }
.arrow-leftmiddle:after, .arrow-leftmiddle:before { top: 50%; }

/* arrow up */
.arrow-up:after, .arrow-up:before {
  bottom: 100%;
  left: 50%;
}

.arrow-up:after {
  border-bottom-color: white;
  margin-left: -10px;
}

.arrow-up:before {
  border-bottom-color: rgba(0,0,0,0.2);
  margin-left: -12px;
}

.dark .arrow-up:after { border-bottom-color: #333; }
.dark .arrow-up:before { border-bottom-color: rgba(255,255,255,0.15); }

.arrow-upleft:before, .arrow-upleft:after { left: 10%; }

.helper-icon {
  display: inline-block;
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: #666;
  text-align: center;
  animation: fadein 0.4s;
}

.helper-icon-inner {
  font-family: "Times New Roman";
  display: inline-block;
  width: 25px;
  height: 25px;
  border: solid 1px rgba(0,0,0,0.2);
  border-radius: 99px;
  color: black;
  background-color: whitesmoke;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.dark .helper-icon-inner {
  color: white;
  background-color: black;
  box-shadow: 0 0 20px white;
}

code {
  display: block;
  background-color: #ccc;
  font-family: monospace;
  font-size: 16px;
  padding: 5px 10px;
  margin: 2px 5px 10px;

}

.dark code {
  background-color: #333;
}

.shortcuts {
  font-size: 14px;
  margin: 0 auto;
}

.shortcuts th {
  padding-right: 1em;
  text-align: left;
  font-weight: normal;
}

.mobile.drag-in-progress * {
  -webkit-user-select: none;
}

.dragging {
  color: lightblue;
}

/* the bar that displays on hover when moving items */
.drop-hover {
  position: absolute;
  width: calc(100% - 80px);
  margin-top: -0.3em;
  margin-left: -0.7em;
  background-color: lightblue;
  height: 3px;
  border-radius: 99px;
  z-index: 1;
}

.children .child:first-child > .drop-hover {
  margin-top: -0.3em;
}

/* the drop target at the end of a context */
.drop-end {
  position: absolute;
  width: calc(100% - 38px);
  z-index: 1; /* Above "Add item" */
}

/* for some reason the drop-end in the outermost ul is too wide */
.drop-end.last {
  width: calc(100% - 161px);
}

.child.drop-end::before {
  display: none;
}

.drop-end .drop-hover {
  /*background-color: purple;*/
  margin-left: -1.25em;
  width: calc(100% - 41px);
}

/* bump specificity */
.empty-children .child.child > .drop-hover {
  /*background-color: tomato;*/
  margin-top: -0.6em;
  width: calc(100% - 158px);
}

.empty-children .drop-end {
  /*background-color: red;*/
  z-index: 2; /* above normal .drop-hover */
  margin-left: 30px;
  padding-bottom: 1.1em;
}

.mobile .empty-children .drop-end {
  margin-left: 25%;
}

.empty-children .drop-end > .drop-hover {
  margin-left: -150px;
}

.mobile .empty-children .drop-end > .drop-hover {
  margin-left: calc(-25% - 103px);
}

.status-button {
  border: solid 1px black;
  border-radius: 99px;
  padding: 2px 7px;
  font-size: 80%;
  transition: opacity 0.75s ease-out;
}

.status-button:hover {
  background-color: black;
  color: white;
}

.dark .status-button {
  border-color: white;
}

.dark .status-button:hover {
  background-color: white;
  color: black;
}

.status-button-fade {
  opacity: 0;
}

.indent {
  display: inline-block;
  margin-top: 5px;
  margin-left: 18px;
}

.text-small {
  font-size: 80%;
}

.search-children a.button {
  /* TODO: Fix the markup rather than overriding the margin; */
  margin: 10px 0 15px -25px;
}

/* never will be in dark mode since footer is hidden during tutorial */
.tutorial {
  overflow: auto;
  padding: 10px 20px 20px;
  background-color: #ddd;
}

.tutorial p {
  margin-top: 20px;
}

.tutorial p:first-child {
  margin-top: 0;
}

.tutorial-skip {
  color: #666;
}

.tutorial-next-wait {
  margin-left: 10px;
  font-style: italic;
}

.tutorial .button {
  margin-left: 5px;
  margin-right: 5px;
}

.tutorial-step-bullets {
  margin-bottom: 10px;
}

.tutorial-step-bullets .tutorial-step-bullet {
  opacity: 0.25;
  margin-left: 1px;
  margin-right: 1px;
}

.tutorial-step-bullets .tutorial-step-bullet.active {
  opacity: 1;
}

.tutorial-trace-gesture {
  position: absolute;
  margin-top: 40px;
  z-index: 1;
  text-align: center;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.8);
}
