/*
  DEPRECATED
  This file is deprecated. All styles should be added inline using PandaCSS.
  See: https://panda-css.com/docs/concepts/writing-styles
*/

/* react-transition-group animation: fade */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

/* react-transition-group animation: fade-slow-out */
.fade-slow-out-enter {
  opacity: 0;
}

.fade-slow-out-enter-active {
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.fade-slow-out-exit {
  opacity: 1;
}

.fade-slow-out-exit-active {
  opacity: 0;
  transition: opacity 0.8s ease-out;
}

/* react-transition-group animation: slidedown */
/* use transform: translateY(-100%) for auto height animation (less smooth) */
.slidedown-enter {
  margin-bottom: 0;
  margin-top: -3em;
}

.slidedown-enter-active {
  margin-bottom: 1em;
  margin-top: 0;
  transition: margin 100ms ease-out;
}

.slidedown-enter-done {
  margin-bottom: 1em;
  margin-top: 0;
}

.slidedown-exit {
  margin-bottom: 1em;
  margin-top: 0;
}

.slidedown-exit-active {
  margin-bottom: 0;
  margin-top: -3em;
  transition: margin 100ms ease-out;
}

.slidedown-exit-done {
  margin-bottom: 0;
  margin-top: -3em;
}

/* react-transition-group animation: fade-400 */
.fade-400-enter {
  opacity: 0;
}

.fade-400-enter-active {
  opacity: 1;
  transition: opacity 400ms ease 0ms;
}

.fade-400-exit {
  opacity: 1;
}

.fade-400-exit-active {
  opacity: 0;
  transition: opacity 400ms ease 0ms;
}

/* react-transition-group animation: fade-600 */
.fade-600-enter {
  opacity: 0;
}

.fade-600-enter-active {
  opacity: 1;
  transition: opacity 600ms ease 0ms;
}

.fade-600-exit {
  opacity: 1;
}

.fade-600-exit-active {
  opacity: 0;
  transition: opacity 700ms ease 0ms;
}

/* react-transition-group animation: fade-both */
/* eases in and out  */
.fade-both-enter {
  opacity: 0;
}

.fade-both-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in-out;
}

.fade-both-enter-done {
  opacity: 1;
}

.fade-both-exit-done {
  opacity: 0;
}

.fade-both-exit {
  opacity: 1;
}

.fade-both-exit-active {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

/* react-transition-group animation: slide */
.slide-enter {
  transform: translateX(100vw);
  opacity: 0;
  position: absolute;
}

.slide-enter.slide-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms ease-in-out 200ms;
}

.slide-exit {
  transform: translateX(0);
  opacity: 1;
}

.slide-exit.slide-exit-active {
  transform: translateX(-100vw);
  opacity: 0;
}

/* react-transition-group animation: slide-right */
.slide-right-enter {
  transform: translateX(100%);
}

.slide-right-enter-active {
  transform: translateX(0);
  transition: all 200ms ease-out;
}

.slide-right-exit {
  transform: translateX(0);
}

.slide-right-exit-active {
  transform: translateX(100%);
  transition: all 200ms ease-out;
}

/* autofocus */

/*
  At deeper depths, the available width becomes smaller and smaller. Due to the left-translate (above), the left edge will be kept relatively close to the left edge of the screen as one navigates deeper. However its bounding box is the same, so its width will still get smaller and smaller, although it will appear that it is getting compressed from the right. See: https://github.com/cybersemics/em/issues/752.

  Offset this by adding a negative right margin.

  This has the downside of causing multi-line text to reflow as one navigates deeper, as its bounding box is now dependent on its depth in the hierarchy. See: https://github.com/cybersemics/em/issues/251. Only apply this to .autofocus-hide-parent instead of both 2 & 3 so that this side effect is less pronounced. Ultimately there is a natural tradeoff, and it's more important that the full width is preserved.
*/
/*.autofocus-hide-parent {
  margin-right: -1.2em;
}*/

/* for some reason opacity bleeds through modal*/

/* higher precendence than ".dark .modal .a" */

.animate-fadeout {
  opacity: 0;
}

@keyframes pulse-light {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

/* arrow */
.arrow:after,
.arrow:before {
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow:after {
  border-width: 10px;
}
.arrow:before {
  border-width: 12px;
}

/* arrow left */
.arrow-left:after,
.arrow-left:before {
  right: 100%;
  top: 50%;
}

.arrow-left:after {
  border-right-color: white;
  margin-top: -10px;
}

.arrow-left:before {
  border-right-color: rgba(0, 0, 0, 0.2);
  margin-top: -12px;
}

.dark .arrow-left:after {
  border-right-color: #333;
}
.dark .arrow-left:before {
  border-right-color: rgba(255, 255, 255, 0.15);
}

.arrow-lefttop:after,
.arrow-lefttop:before {
  top: 20px;
}
.arrow-leftbottom:after,
.arrow-leftbottom:before {
  bottom: 20px;
}
.arrow-leftmiddle:after,
.arrow-leftmiddle:before {
  top: 50%;
}

/* arrow up */
.arrow-up:after,
.arrow-up:before {
  bottom: 100%;
  left: 50%;
}

.arrow-up:after {
  border-bottom-color: white;
  margin-left: -10px;
}

.arrow-up:before {
  border-bottom-color: rgba(0, 0, 0, 0.2);
  margin-left: -12px;
}

.dark .arrow-up:after {
  border-bottom-color: #333;
}
.dark .arrow-up:before {
  border-bottom-color: rgba(255, 255, 255, 0.15);
}

.arrow-upleft:before,
.arrow-upleft:after {
  left: 10%;
}

.code-block {
  display: block;
  padding: 5px 10px;
  margin: 2px 5px 10px;
}

.mobile.drag-in-progress * {
  user-select: none;
}

.dragging {
  color: lightblue;
}

/* Prose View */

.SplitPane,
.SplitPane .Resizer,
.SplitPane .Pane {
  user-select: none;
}

.Resizer {
  background: #fff;
  opacity: 0.2;
  z-index: var(--z-index-resizer);
  box-sizing: border-box;
  background-clip: padding-box;
}

.Resizer:hover {
  transition: all 0.2s ease-out;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(255, 255, 255, 0.5);
  border-right: 5px solid rgba(255, 255, 255, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

.MuiDrawer-paperAnchorLeft {
  top: var(--safe-area-top) !important;
}
