.debug {
  font-size: 8px;
  color: lightblue;
  display: none;
}

html, body, #root, #app {
  height: 100%;
  font-size: 18px;
}

body {
  font-weight: 300;
  font-family: 'Helvetica';
  line-height: 1.25;
  background-color: #ddd;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  outline: none;
}

/* Headings */
h1 {
  font-size: 32px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 12px;
}

h3 {
  font-size: 21px;
}

ul {
  margin-left: 1.5em;
  padding-left: 0;
}

ul ul {
  margin-left: 1.2em;
}

.button {
  padding: 2px 10px;
  min-width: 120px;
  text-decoration: none;
  display: inline-block;
  border-radius: 99px;
}

.list-none li::before {
  display: none;
}

/* Subheadings */
.subheading {
  font-size: 16px;
  font-weight: 400;
  color: #999;
  padding-bottom: 3px;
  margin-bottom: 2px;
  display: block;
  border-bottom: solid 1px #ccc;
  transition: all 1s;
  position: relative; /* for .num-contexts > sup > a */
}

.subheading-container {
  margin-bottom: 12px;
}

.subheading-caption {
  font-size: 65%;
  font-style: italic;
}

.dark .subheading a { color: #fff; }

.subheading-focus { color: #000; }
.dark .subheading-focus { color: #fff; }

.subheading .num-contexts {
  top: 2px;
}

.subheading-leaves {
  margin-top: 25px;
}

/* reduce margin between subheading leaves */
.subheading-leaf-children {
  margin: 5px 0 0 15px;
}

.subheading-leaf-children .subheading {
  border: none;
  margin: 0;
  display: inline-block;
  margin-left: 10px; /* bullet padding */
  vertical-align: top; /* bullet alignment */
}

/* subheading leaf bullets need adjusting for some reason */
.subheading-leaf-children .leaf::before {
  top: 0;
}

/* Items */

[contenteditable] {
  outline: none;
}

.child-heading {
  margin-left: 10px;
}

.child-heading {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 2px;
  display: inline-block;
  vertical-align: top;
}

.child [contenteditable] {
  display: inline; /* Must be inline so superscript displays properly in multi line items */
  padding-left: 5px; /* Add padding otherwise cursor disappears on empty elements */
  /* Cannot use padding-right, as it throws off the cursor when editing end of line. */
  margin-left: -5px; /* Offset padding */
}

.children .child-heading > [contenteditable] {
  margin-bottom: 0;
}

.children {
  margin-top: 0;
  margin-bottom: 0;
}

.children .children {
  margin-top: 3px;
  margin-bottom: 8px;
  /* create stacking context so helper appears above */
  position: relative;
  z-index: 1;
}

/* needs to be -1 for children of helper child. */
.helper-container .children {
  position: relative;
  z-index: -1;
}

/* siblings after the helper have to be simply hidden because the above trick doesn't work */
.sibling-after {
  visibility: hidden;
}

/* contexts as children */
.child-heading .subheading {
  display: inline;
  border: none;
}

.child-expanded-click {
  width: 100%;
  display: inline-block;
  cursor: text;
  position: absolute;
  height: 1.4em;
}

.ellipsis {
  font-size: 75%;
}

.relative { position: relative; }
.missing { color: #ccc; }
.direct { color: #212121; }

.down-chevron {
  font-style: normal;
  font-size: 125%;
  line-height: 0;
}

.up-chevron {
  font-style: normal;
  font-size: 75%;
  position: relative;
  top: 2px;
}

.content {
  background-color: #fff;
  color: #111;
  padding: 60px 50px;
  position: relative;
  min-height: calc(100vh - 100px);
  transition: transform 0.75s ease-out, margin 0.75s ease-out;
  overflow: hidden; /* prevent expanded click areas from adding scroll-x */
}

body.dark {
  background-color: #000;
}

.dark .root, .dark .content, .dark .helper {
  background-color: #000;
  color: #e3e3e3;
}

.dark .footer a {
  color: skyblue;
}

header {
  position: sticky;
  top: 0;
  margin-left: 15px;
  z-index: 1;
  height: 0;
}

/* Use position: absolute to prevent header from affecting layout of content. Must be applied here instead of header itself, since header is position: sticky */
.header-container {
  position: absolute;
  width: 100%;
}

header .home {
  float: left;
  margin-top: 15px;
}

.helper .home {
  display: inline-block;
  position: relative;
  top: 5px;
  margin-top: -10px;
}

.status {
  background-color: white;
  float: right;
  margin-right: 15px;
  margin-top: 15px;
}

.dark .status {
  background-color: #000;
  color: #e3e3e3;
}

.error {
  color: red;
}

.link {
  word-break: break-word;
}

.superscript-container {
  /*position: relative;*/
  /*left: -5px;*/ /* offset .child [contenteditable] padding */
  white-space: nowrap; /* prevent expanded click area from wrapping */
  z-index: 1;
}

.superscript-container sup {
  position: relative;
  z-index: 1; /* above depth-bar */
}

.num-contexts {
  font-size: 60%;
  white-space: nowrap; /* prevent long depth-bars from wrapping */
  /* Upping this z-index to overlay .depth-bar will also cause it to overlay helper. Instead lower the depth-bar z-index */
  /*z-index: 1;*/
}

.num-contexts > sup {
  top: -5px;
  left: -3px;
}

.num-contexts > sup > a {
  padding-right: 15px; /* additional click area */
  margin-right: -15px;
  padding-bottom: 8px;
  margin-bottom: -8px;
}

h1 .num-contexts {
  font-size: 40%;
  top: -4px;
  left: 1px;
}

.add-new-item-link {
  display: inline-block;
  color: #ccc;
  position: relative;
}

.depth-bar {
  position: absolute;
  margin-left: 5px;
  display: inline-block;
  height: 2px;
  background-color: #ddd;
  transition: background-color 0.75s ease-out;
  /*margin-top: 1em;*/
  margin-top: 0.6em;
  /*margin-left: 3px;*/
}

.subheading .depth-bar {
  display: none;
}

.num-contexts .depth-bar {
  margin-top: 13px;
  margin-left: 0px;
}

.has-other-contexts {
  margin-left: 12px;
}

.from > :first-child > .item {
  font-weight: 400;
}

.add-new-item {
  outline: none;
  min-width: 3.75em;
  display: inline-block;
  border-bottom: solid 1px #ccc;
  margin-left: -2px;
}

.placeholder, .search:empty:before {
  font-style: italic;
  color: rgba(7,7,7,0.5);
}

/* empty class is set dynamically by javascript during editing. */
/* :empty does not work because item may contain <br> */
.search:empty:before {
  content: attr(placeholder);
  display: block;
  cursor: text;
}

.dark .placeholder, .dark .search:empty:before {
  color: rgba(255,255,255,0.5);
}


.children, .children > li {
  transition: transform 0.75s ease-out, opacity 0.75s ease-out, color 0.75s ease-out;
  /*causes next siblings to overlap z-index*/
  /*perspective: 1000;*/
  backface-visibility: hidden;
}

li {
  list-style: none;
}

li::before {
  content: '•'; /* ◂◄◀︎ ➤▸►◥ */
  position: relative;
  top: 0.2em;
  /*margin-right: 10px;    this causes the li to break at the beginning with longer text */
  margin-left: -15px;
  opacity: 0.8;
  transition: opacity 0.75s ease-out;
}

li.leaf::before {
  content: '◦';
  top: 0.15em;
  margin-right: -1px;
}

.context-chain > li::before {
  content: '◄';
  top: 0.1em;
}

.context-chain > li.leaf::before {
  content: '◅';
}

.children-new li::before {
  content: '+';
  left: -1px;
  top: 0.1em;
}

.mobile.safari .children-new li::before,
.mobile.chrome .children-new li::before {
  left: 4px;
  margin-right: 3px;
}

.mobile.safari .leaf::before,
.mobile.chrome .leaf::before {
  margin-left: -19px; /* Adjust -9px left and +5px right to compensate for difference between full and empty bullets in Helvetica Neue on mobile safari. */
  margin-right: -5px;
}

.distance-from-cursor-2 > .child::before { opacity: 0; }
.distance-from-cursor-3 > .child::before { opacity: 0; }

.distance-from-cursor-0 > .child { color: rgba(0,0,0,1); }
.distance-from-cursor-1 > .child { color: rgba(0,0,0,0.5); }
/* prevent fading out cursor parent */
.distance-from-cursor-1 > .child.cursor-parent { color: rgba(0,0,0,1); }
.distance-from-cursor-2 > .child { color: rgba(0,0,0,0); }
.distance-from-cursor-3 > .child { color: rgba(0,0,0,0); }

.distance-from-cursor-0 > .child > .child-heading .depth-bar { background-color: rgba(0,0,0,1); }
.distance-from-cursor-1 > .child > .child-heading .depth-bar { background-color: rgba(0,0,0,0.5); }
.distance-from-cursor-1 > .child.cursor-parent > .child-heading .depth-bar { background-color: rgba(0,0,0,1); }
.distance-from-cursor-2 > .child > .child-heading .depth-bar { background-color: rgba(0,0,0,0); }
.distance-from-cursor-3 > .child > .child-heading .depth-bar { background-color: rgba(0,0,0,0); }

.dark .distance-from-cursor-0 > .child { color: rgba(255,255,255,1); }
.dark .distance-from-cursor-1 > .child { color: rgba(255,255,255,0.5); }
/* prevent fading out cursor parent */
.dark .distance-from-cursor-1 > .child.cursor-parent { color: rgba(255,255,255,1); }
.dark .distance-from-cursor-2 > .child { color: rgba(255,255,255,0); }
.dark .distance-from-cursor-3 > .child { color: rgba(255,255,255,0); }

.dark .distance-from-cursor-0 > .child > .child-heading .depth-bar { background-color: rgba(255,255,255,1); }
.dark .distance-from-cursor-1 > .child > .child-heading .depth-bar { background-color: rgba(255,255,255,0.5); }
/* prevent fading out cursor parent */
.dark .distance-from-cursor-1 > .child.cursor-parent > .child-heading .depth-bar { background-color: rgba(255,255,255,1); }
.dark .distance-from-cursor-2 > .child > .child-heading .depth-bar { background-color: rgba(255,255,255,0); }
.dark .distance-from-cursor-3 > .child > .child-heading .depth-bar { background-color: rgba(255,255,255,0); }

/*.distance-from-cursor-0 > .child > h3 { opacity: 1; }
.distance-from-cursor-1 > .child > h3 { opacity: 0.5; }
.distance-from-cursor-2 > .child > h3 { opacity: 0; }
.distance-from-cursor-3 > .child > h3 { opacity: 0; }
*/
.distance-from-cursor-2 { transform: translate3d(-1.2em, 0, 0); }
.distance-from-cursor-3 { transform: translate3d(-1.2em, 0, 0); }

.children-new { transition: all 0.75s ease-out; }
.children-new.distance-from-cursor-2,
.children-new.distance-from-cursor-3 {
  opacity: 0;
}

.footer a {
  color: #1b6f9a;
}

/* overflow:hidden breaks sticky header */
.container {
  position: relative;
}

.footer {
  padding: 20px;
  margin: 0;
  text-align: right;
  font-size: 70%;
  list-style: none;
  background-color: #ddd;
}

.footer .support-link {
  color: inherit;
}

.dark .footer {
  background-color: #212121;
  color: #fff;
}

.dark .footer .support-link {
  color: white;
}

.footer .support-link:hover {
  text-decoration: underline;;
}

/* for some reason opacity bleeds through helper*/
.dim { color: rgba(7,7,7,0.5); }
.dark .dim { color: rgba(255,255,255,0.5); }

.helper {
  font-size: 18px;
  background-color: white;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.5);
  border: solid 1px rgba(0,0,0,0.2);
  padding: 15px;
  position: absolute;
  display: inline-block;
  line-height: 1.5;
  width: calc(100% - 100px);
  z-index: 10;
  animation: fademostlyin 0.4s;
  min-width: 200px;
}

.helper-content {
  overflow: scroll;
  max-height: 70vh;
}

.helper.opaque {
  animation: fadein 0.4s;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 0.99; }
}

@keyframes fademostlyin {
  from { opacity: 0; }
  to { opacity: 0.85; }
}

.helper p {
  margin: 0 0 10px 0;
}

.helper.center {
  left: 0;
  right: 0;
  margin: 0 auto;
}

.welcome {
  font-family: 'Helvetica Neue';
  font-size: 26px;
  box-shadow: none;
  border: none;
  display: block;
  width: auto;
  padding: 10% 8% 50vh;
}

.welcome .helper-content {
  max-width: 800px;
  margin: 0 auto;
  max-height: none;
}


.welcome .helper-title {
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}

.welcome .helper-text {
  margin-bottom: 50px;
}

.welcome .helper-actions a {
  font-size: 18px;
  text-decoration: none;
  background-color: black;
  color: white;
}

.dark .welcome .helper-actions a {
  background-color: white;
  color: black;
}

.welcome .helper-actions {
  text-align: center;
}

.welcome .logo {
  width: 44px;
  vertical-align: text-bottom;
}

.helper-title, .helper b {
  font-weight: 400;
}

.helper-text {
  font-size: 85%;
}

.helper-actions {
  font-size: 75%;
}

.helper-actions a {
  color: darkblue;
  font-weight: normal;
  margin-right: 10px;
  text-decoration: underline;
  white-space: nowrap;
  line-height: 2;
}

.dark .helper {
  background-color: #333;
  border: solid 1px rgba(255,255,255,0.1);
}

.dark .welcome {
  background-color: black;
  border: none;
}

.dark .helper a {
  color: lightblue;
}

.helper-home {
  margin-left: 20px;
  margin-top: -5px;
}

/* higher precendence than ".dark .helper .a" */
.helper-close {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 12px;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
}

.welcome .helper-close {
  display: none;
}

.helper-close span {
  display: inline-block;
  width: 11px;
  height: 11px;
}

.dark a.helper-close span {
  color: rgba(255,255,255,0.3);
  border-color: rgba(255,255,255,0.3);
}

.animate {
  transition: all 0.4s ease-out;
}

.animate-fadeout {
  opacity: 0;
}

/* arrow */
.arrow:after, .arrow:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow:after { border-width: 10px; }
.arrow:before { border-width: 12px; }

/* arrow left */
.arrow-left:after, .arrow-left:before {
  right: 100%;
  top: 50%;
}

.arrow-left:after {
  border-right-color: white;
  margin-top: -10px;
}

.arrow-left:before {
  border-right-color: rgba(0,0,0,0.2);
  margin-top: -12px;
}

.dark .arrow-left:after { border-right-color: #333; }
.dark .arrow-left:before { border-right-color: rgba(255,255,255,0.15); }

.arrow-lefttop:after, .arrow-lefttop:before { top: 20px; }
.arrow-leftbottom:after, .arrow-leftbottom:before { bottom: 20px; }
.arrow-leftmiddle:after, .arrow-leftmiddle:before { top: 50%; }

/* arrow up */
.arrow-up:after, .arrow-up:before {
  bottom: 100%;
  left: 50%;
}

.arrow-up:after {
  border-bottom-color: white;
  margin-left: -10px;
}

.arrow-up:before {
  border-bottom-color: rgba(0,0,0,0.2);
  margin-left: -12px;
}

.dark .arrow-up:after { border-bottom-color: #333; }
.dark .arrow-up:before { border-bottom-color: rgba(255,255,255,0.15); }

.arrow-upleft:before, .arrow-upleft:after { left: 10%; }

.helper-icon {
  display: inline-block;
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: #666;
  text-align: center;
  animation: fadein 0.4s;
}

.helper-icon-inner {
  font-family: "Times New Roman";
  display: inline-block;
  width: 25px;
  height: 25px;
  border: solid 1px rgba(0,0,0,0.2);
  border-radius: 99px;
  color: black;
  background-color: whitesmoke;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.dark .helper-icon-inner {
  color: white;
  background-color: black;
  box-shadow: 0 0 20px white;
}

code {
  display: block;
  background-color: #ccc;
  font-family: monospace;
  font-size: 16px;
  padding: 5px 10px;
  margin: 2px 5px 10px;

}

.dark code {
  background-color: #333;
}
