name: BrowserStack

# Temporarily disable the workflow except when manually triggered
# https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#workflow_dispatch
on: workflow_dispatch

# on:
#   push:
#     branches:
#       - main
#   pull_request_target:
#     types: [opened, synchronize, reopened]

env:
  CI: true

jobs:
  run:
    name: BrowserStack
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Set Node.js version
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: 'BrowserStack Env Setup'
        uses: 'browserstack/github-actions/setup-env@master'
        with:
          username: ${{secrets.BROWSERSTACK_USERNAME}}
          access-key: ${{secrets.BROWSERSTACK_ACCESS_KEY}}
          build-name: 'BUILD_INFO'
          project-name: 'REPO_NAME'

      - name: 'Start BrowserStackLocal Tunnel'
        uses: 'browserstack/github-actions/setup-local@master'
        with:
          local-testing: 'start'
          local-logging-level: 'all-logs'
          local-identifier: 'random'

      - name: Install npm dependencies
        run: yarn

      - name: Build
        run: yarn build

      - name: Serve
        run: yarn servebuild &

      - name: Test iOS on BrowserStack
        run: yarn test:ios

      - name: 'Stop BrowserStackLocal'
        uses: 'browserstack/github-actions/setup-local@master'
        with:
          local-testing: 'stop'
