name: Puppeteer

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

env:
  CI: true

jobs:
  run:
    name: Puppeteer
    runs-on: ubuntu-latest
    services:
      browserless:
        image: browserless/chrome:latest
        ports:
          - 7566:3000
        env:
          CONNECTION_TIMEOUT: -1
      ssl-proxy:
        image: esplo/docker-local-ssl-termination-proxy
        ports:
          - 3001:443
        env:
          PORT: 3000

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Enable Corepack
        run: corepack enable

      - name: Set Node.js version
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install npm dependencies
        run: yarn

      - name: Generate PandaCSS utilities
        run: yarn prepare

      - name: Build
        run: yarn build

      - name: Serve
        run: yarn servebuild &

      - name: Test
        run: yarn test:puppeteer

      - name: Upload snapshot diff artifact
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: __diff_output__
          path: src/e2e/puppeteer/__tests__/__image_snapshots__/**/__diff_output__/
          if-no-files-found: ignore
